<div class="row">
  <div class="span12">

    <%= form_for(@user, :url => '/sessions/twitter_create' , html: {class: "well"}) do |f| %>

        <fieldset>
            <legend>Please Enter Email to Continue</legend>
          <div><%= f.hidden_field :first_name %></div>
          <div><%= f.hidden_field :last_name %></div>
          <div><%= f.hidden_field :profile_name %></div>
          <div><%= f.text_field :email %></div>
          <div><%= f.hidden_field :password %></div>
          <div><%= f.hidden_field :password_confirmation %></div>

          <div><%= f.submit "Submit" %></div>
        </fieldset>
    <% end %>
  </div>


</div>
    
