<% if session[:user_id] %>
  <%@user = User.find(session[:user_id]) %>
  <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
  <div class="row-fluid">
    <header class="span12 hero-unit">
      <h3>Hi <%= @user.name %>, Please Enter The Time Sheets For <span id="currentMonth"/> </h3>
    </header>
  </div>

  <!-- **************************************************************************** -->
  <!-- Log out Button-->
  <div class="container">
    <!-- Log out button -->
    <div class="pull-right"><h5> <a href="/signout"> <button type="button" class="btn btn-info">Log Out</button></a></h5></div>
  </div>
  <div class="container">
    <div class="row">
      <div class="span4">
        <ul class="nav nav-pills">
          <li class="active">
            <a href="/welcome/weekFunc">Week View</a></li>
          <li><a href="/report">Verify Reports</a></li>
        </ul>
      </div>
    </div>
  </div>

  <!-- **************************************************************************** -->
  <!-- DAY FUNCTIONALITY -->
  <div class="container" style="z-index:1">
    <div class="row">
      <div class="col-lg-6">
        <form role="dayform" id="dayForm">
          <table class="table table-striped table-bordered" id="daytimeTable">
            <div class="form-group span8">
              <thead>
                <tr>
                  <th> Project Details</th>
                  <th> <input id="txtDate"/> </th>
                  <th> <button type="button" class="btn btn-large btn-primary" id="add" ><span class="glyphicon glyphicon-plus"></span></button> </th>
                </tr>
              </thead>
              <tbody>
                <%selectArray = [["Please Select", ""]] %>
                <%Project.find_each do |p|%>
                  <%selectArray << [p.name, p.id]%>
                <%end%>
                <% if !@todayRecs.empty? %>
                  <% @todayRecs.each do |t| %>
                    <tr id="lastRow">
                      <td>

                        <%= select_tag 'project', options_for_select(selectArray,t.project_id), :disabled => true, :class => "project" %>
                        <%=  hidden_field_tag 'hiddenId',t.id, :id => 'hiddenId'%>
                      </td>
                      <td>
                        <input id="today" name="today" type="text" placeholder="Hours" disabled="true" class="today form-control" value=<%= t.hours %>  />
                      </td>
                      <td>
                        <input type="button" class="btn btn-success save-btn" id="save" value="Edit"></input>
                      </td>
                      <td>
                        <input type="button" class="btn btn-large btn-danger remove-btn" id="remove" value="Remove"></input>
                      </td>
                    </tr>
                  <% end %>
                <% else %>
                  <tr id="lastRow">
                    <td>
                      <input type="hidden" id="hiddenId" name="hiddenId" />
                      <select id="project" name="project" class="project" >
                        <option value=''>Please Select</option>
                        <% Project.find_each do |projectrow| %>
                          <option value='<%=projectrow.id%>'><%=projectrow.name%></option>
                        <%end%>
                      </select>
                    </td>
                    <td>
                      <input id="today" name="today" type="text" placeholder="Hours" class="today form-control" />
                    </td>
                    <td>
                      <input type="button" class="btn btn-success save-btn" id="save" value="Save"></input>
                    </td>
                    <td>
                      <input type="button" class="btn btn-large btn-danger remove-btn" id="remove" value="Remove"></input>
                    </td>
                  </tr>
                <% end %>
              </tbody>

            </div>
          </table>
        </form>
      </div>  
      <div class="col-lg-1"></div>
      <div class="pieChart col-lg-5" style="z-index:-1"><div id="chart-1"></div></div>

    </div>


        


</div>



  <!-- Script for day functionality -------------------------------------------------------------------- --->
  <script type="text/javascript">
    $(document).ready(function(){
      $('.project').each(function() {
        $(this).data('lastValue', $(this).val());
      });
      var months = [ "January", "February", "March", "April", "May", "June",
        "July", "August", "September", "October", "November", "December" ];
      $("#txtDate").datepicker({ showOtherMonths: true, selectOtherMonths: true,
        onSelect: function() {
          var selectedDate = $("#txtDate").datepicker('getDate');
          var selectedMonthName = months[selectedDate.getMonth()];
          $("#currentMonth").html(selectedMonthName);
          $.ajax({
            url: '/load_today_data',
            method: 'GET',
            data : "toDay="+ $("#txtDate").val(),
            success: function(data){
              $("#daytimeTable").find("tr:gt(0)").remove();
              $("#daytimeTable").find("tbody").append(data);
              $('.pieChart').trigger('click');
            },
            failure: function(){
              alert("Unable to load the today values.");
            }
          });

        }
        
      });
      $('#txtDate').datepicker('setDate', 'today');
      var toDayDate = $("#txtDate").datepicker('getDate');
      var todayMonthName = months[toDayDate.getMonth()];
      $("#currentMonth").html(todayMonthName);
      var id = 0;
      setTimeout(function() { $('.pieChart').trigger('click'); },10);
      $("#add").click(function () {
        id++;
        var master = $(this).parents("#daytimeTable");
        var table = document.getElementById("daytimeTable");
        var noOfRows = table.rows.length;
        var rowHtml = "<tr id='lastRow'>\n\
                          <td><input type='hidden' id='hiddenId' name='hiddenId' /><select id='project"+ noOfRows +"' name='project' class='project'><option value=''>Please Select</option> <% Project.find_each do |p|%> <option value='<%=p.id%>'><%=p.name%></option><%end%></select></td>\n\
                          <td><input id='today"+ noOfRows +"' name='today' type='text' placeholder='Hours' class='today form-control'/></td>\n\
                          <td><input type='button' class='btn btn-success save-btn' id='save' value='Save'></input></td>\n\
                          <td><input type='button' class='btn btn-large btn-danger remove-btn' id='remove' value='Remove'></input></td>                     \n\
                      </tr>";
        master.find("tbody").append(rowHtml);
        $(".save-btn").last().click(function(){
          input =  $(this);
          var todayValue = $("#txtDate").val();
          var ip1 = input.parent().prev().children('input');
          var sp1 = input.parent().prev().prev().children('select');
          var hd1 = input.parent().prev().prev().children('input');
          if(input.attr('value') == "Edit"){
            input.attr('value', "Save");
            ip1.attr('disabled',false);
            sp1.attr('disabled',false);
          }
          else{
            if(ip1.val() == '' || ip1.val() == undefined){
              alert("Please enter the no. of hours");
              return false;
            }
            if(sp1.val() == '' || sp1.val() == undefined){
              alert("Please select the project");
              return false;
            }
            var svC = confirm("Are you sure want to save the changes?");
            if(svC == true){
              var hrs = ip1.val();
              var prj = sp1.val();
              dataStr = "project=" + prj + "&today=" + todayValue + "&hours=" + hrs +"&id="+hd1.val();
              $.ajax({
                method: 'POST',
                url: '/saveDayTimesheets',
                data : dataStr,
                success: function(dt){
                  alert(dt.msg);
                  hd1.val(dt.id)
                  ip1.attr('disabled',true);
                  sp1.attr('disabled',true);
                  input.attr('value','Edit');
                  $('.pieChart').trigger('click');
                }
              });
            }
          }
        });
        $(".remove-btn").last().click(function(){
          input =  $(this);
          var hd1 = input.parent().prev().prev().prev().children('input').val();
          var svC = confirm("Are you sure want to delete?");
          if(svC == true){
            if(hd1 == '' || hd1== "" || hd1 == undefined){
              input.parents("tr").remove();
            }
            else{
              dataStr = "id="+hd1;
              $.ajax({
                method: 'POST',
                url: '/deleteDayTimesheets',
                data : dataStr,
                success: function(dt){
                  alert(dt.msg);
                  $('.pieChart').trigger('click');
                  if(dt.deleted == true)
                    input.parents("tr").remove();
                      
                }
              });
            }
          }
        });
        $(".project").last().change(function(){
          select_box_old_val = $(this).data("lastValue");
          select_box_new_val = $(this).val();
          exist = false;
          console.log(select_box_old_val);
          $('.project').not(this).each(function(){
            if(exist == false){
              console.log(select_box_new_val);
              if($(this).val() == select_box_new_val){
                //select_box.val(select_box.data("lastVal"));
                exist = true;
                alert("Hours are already logged for this project!!, Please Edit that for changes");
              }
            }
          });
          if(exist == true){
            $(this).val($(this).data("lastValue"));
          }
          else{
            $(this).data("lastValue",$(this).val());
          }
        });


      });
      
      $(".save-btn").click(function(){
        input =  $(this);
        var todayValue = $("#txtDate").val();
        var ip1 = input.parent().prev().children('input');
        var sp1 = input.parent().prev().prev().children('select');
        var hd1 = input.parent().prev().prev().children('input');
        if(input.attr('value') == "Edit"){
          input.attr('value', "Save");
          ip1.attr('disabled',false);
          sp1.attr('disabled',false);
        }
        else{
          if(ip1.val() == '' || ip1.val() == undefined){
            alert("Please enter the no. of hours");
            return false;
          }
          if(sp1.val() == '' || sp1.val() == undefined){
            alert("Please select the project");
            return false;
          }
          var svC = confirm("Are you sure want to save the changes?");
          if(svC == true){
            var hrs = ip1.val();
            var prj = sp1.val();
            dataStr = "project=" + prj + "&today=" + todayValue + "&hours=" + hrs + "&id="+ hd1.val();
            $.ajax({
              method: 'POST',
              url: '/saveDayTimesheets',
              data : dataStr,
              success: function(dt){
                alert(dt.msg);
                ip1.attr('disabled',true);
                sp1.attr('disabled',true);
                input.attr('value','Edit');
                $('.pieChart').trigger('click');
              }
            });
          }
        }
        
      });
      $(".remove-btn").click(function(){

        input =  $(this);
        var hd1 = input.parent().prev().prev().prev().children('input').val();
        console.log(hd1);
        var svC = confirm("Are you sure want to delete?");
        if(svC == true){
          if(hd1 == '' || hd1== "" || hd1 == undefined){
            input.parents("tr").remove();
          }
          else{
            dataStr = "id="+hd1;
            $.ajax({
              method: 'POST',
              url: '/deleteDayTimesheets',
              data : dataStr,
              success: function(dt){
                alert(dt.msg);
                if(dt.deleted == true)
                  input.parents("tr").remove();
                $('.pieChart').trigger('click');
              }
            });
          }
        }
        
      });
  <%#*// Remove button functionality%>
  <%#*$(document).on("click", "#remove", function () {%>
  <%#*$(this).parents("tr").remove();%>
  <%#*});%>


      $(".project").change(function(){
        select_box_old_val = $(this).data("lastValue");
        select_box_new_val = $(this).val();
        exist = false;
        console.log(select_box_old_val);
        $('.project').not(this).each(function(){
          if(exist == false){
            console.log(select_box_new_val);
            if($(this).val() == select_box_new_val){
              //select_box.val(select_box.data("lastVal"));
              exist = true;
              alert("There is already timesheet for the selected project.You can update that one");
            }
          }
        });
        if(exist == true){
          $(this).val($(this).data("lastValue"));
        }
        else{
          $(this).data("lastValue",$(this).val());
        }
      });
        
        
      $('.pieChart').click(function() {
        var todayValue = $("#txtDate").val();
        dataStr = "today=" + todayValue;
        $.ajax({
          method: 'GET',
          data: dataStr,
          url: '/createPieChart',
          dataType: 'json',
          success: function(pieHash){
            var newPieHash = [];
            $.each(pieHash,function( key, value ) {
              newPieHash.push([key, value]);
              ;});
            new Chartkick.PieChart("chart-1", newPieHash);
          }
        });
      });
  });



  </script>

<%end%>
